*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.site{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    
        &>.navbar{
            background-color: rgba(30, 12, 6, 1)            ;
            display: grid;
            grid-template-columns:32% 60% ;
            width: 100%;
            height: 120px;
            border-radius:0px 0px 79px 79px ;
            color: #fff;
            &>.logo{
                display: flex;
                justify-content: space-around;
                justify-self:center ;
                align-items: center;
                &>.logo_p{
                    &>p{
                        text-transform: uppercase;
                        font-size:37px ;
                    }
                }
            }
            &>.navbar_ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                &>li{
                    &>a{
                        text-decoration: none;
                        color: #fff;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;

                        color: #F5F5F5;
                        text-transform: capitalize;
                    }
                }
            }
        }
        &>.showcase{
            width: 80%;
            height: 65vh;
            display: grid;
            justify-content: space-around;
            // border: 1px solid blue;
            grid-template-columns: 45% 45%;
            &>.left{
                justify-self: center;
                // border: 1px solid red;
                width: 450px;
                display: flex;
                height: 400px;
                color: #fff;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                &>.show_past{
                    width: 90%;

                    &>p{
                        width: 291px;
                        height: 42px;
                        text-align: center;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;

                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 139.4%;
                        /* identical to box height, or 42px */

                        color: #F5F5F5;
                    }
                    &>.img_p{
                        width: 291px;
                        height: 82px;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;
                        &>p{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 30px;
                            line-height: 139.4%;
                            /* or 42px */


                            color: #F5F5F5;
                        }
                    }
                }
                &>#con_show{
                    font-family: 'KyivType Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 90px;
                    line-height: 132.9%;
                    /* identical to box height, or 120px */

                    text-transform: uppercase;

                    color: #F5F5F5;
                }

            }
            &>.right{
                // border: 1px solid yellow;
                justify-self: center;
                display: flex;
                align-items: center;
            }
        }
        &>.footer{
            width: 100%;
           background-color: #222021;
           height: 19.2vh;
           display: flex;
           align-items: center;
           justify-content: center;
           &>.foot{
            width: 78%;
            height: 100%;
            display: grid;
           grid-template-columns: 20% 30% 30%;

           &>.bir{
            display: flex;
            height: 100%;
            justify-content: space-between;
            flex-direction: column;
            &>p{
                color: #fff;
            }
            &>.bow{
                display: flex;
                flex-direction: row;
                // border: 1px solid red;
                &>.foot_logo{
                    
                &>p{
                    font-size: 37px;
                    color: #F5F5F5;
                    text-transform: uppercase;

            }
                }
            }
           }
           &>.ikki{
            display: flex;
            align-items: center;
            width: 291;
            &>p{
                
            width: 300px;
            height: 42px;
            // border: 1px solid red;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 139.4%;
            // /* identical to box height, or 42px */
            display: flex;
            align-items: center;

            color: #F5F5F5;
            }
            
        }
        &>.uch{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width:  350px ;
            // border: 1px solid red;
            &>img{
                // border: 1px solid red;

            }
            &>p{
                // border: 1px solid red;
                // position: absolute;
                width: 300px;
                height: 84px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 139.4%;
                /* or 42px */


                color: #F5F5F5;
            }
            }

        }
       
        }
}